# xcode noise
build/*
*.pbxuser
*.mode1v3

# old skool
.svn

# osx noise
.DS_Store
profile

# AppCode
.idea/*

# user-specific settings
Teamsnap.xcodeproj/project.xcworkspace/*
Teamsnap.xcodeproj/xcuserdata/*
Reveal.framework/Headers
Reveal.framework/Headers
Reveal.framework/Reveal
Reveal.framework/Reveal
Reveal.framework/Versions/A/Headers/IBARevealLoader.h
Reveal.framework/Versions/A/Headers/IBARevealLoader.h
Reveal.framework/Versions/A/Headers/IBARevealLogger.h
Reveal.framework/Versions/A/Headers/Reveal.h
Reveal.framework/Versions/A/Reveal
Reveal.framework/Versions/Current
Reveal.framework/Versions/Current

# AppCoder
.idea/*
